<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0">

  <uses-feature
      android:name="android.hardware.vulkan.version"
      android:version="0x400003"
      android:required="true" />

   <!-- Tell Android that this application works in either 3DOF or 6DOF mode,
   as well as on devices that are not all-in-ones. It must be set to false to allow
   devices where the runtime was installed later to run the application. -->
  <uses-feature
      android:name="android.hardware.vr.headtracking"
      android:required="false" />

  <!-- HandTracking -->
  <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
  <uses-feature android:name="oculus.software.handtracking" android:required="false" />
  <uses-feature android:name="wave.feature.handtracking" android:required="false" />
  <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="false" />

  <!-- This .apk has no Java code itself, so set hasCode to false. -->
  <application
      android:allowBackup="false"
      android:fullBackupContent="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:hasCode="false"
      android:testOnly="false"
      >

    <meta-data 
        android:name="com.oculus.handtracking.frequency"
        android:value="HIGH"/>

    <!-- Our activity is the built-in NativeActivity framework class.
         This will take care of integrating with our NDK code. -->
    <activity android:name="android.app.NativeActivity"
              android:label="@string/app_name"
              android:configChanges="orientation|keyboardHidden|screenSize"
              android:launchMode="singleTask"
              android:exported="true">
      <!-- Tell NativeActivity the name of our .so -->
      <meta-data android:name="android.app.lib_name"
                 android:value="PreVEngineExample" />

      <!-- Standard Khronos OpenXR launcher intent filter. -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
      </intent-filter>

      <!-- Meta Quest-specific non-standard intent filter. -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="com.oculus.intent.category.VR" />
      </intent-filter>
    </activity>
  </application>

</manifest>
<!-- END_INCLUDE(manifest) -->
